.wrapper {
  width: 55%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.champListDiv {
  width: 100%;
  height: 80%;
  background: lightgray;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.champSearchDiv {
  height: 15%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.champSearchInput {
  width: 70%;
  height: 80%;
  background: none;
  border-width: 0;
  border-style: solid;
  border-bottom-width: 0.5rem !important;
  border-color: black;
  text-align: center;
  font-size: 3rem;
  font-family: "NanumSquare";
}

.selectChampDiv {
  width: 100%;
  height: 80%;
  overflow: auto;
  justify-content: center;
}
.selectChampInner {
  width: 95%;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}

.champListOneChampDiv {
  width: 11%;
}

.champListOneChampInner {
  width: 100%;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}

.myturn .champListOneChampDiv {
  cursor: pointer;
}

.champListOneChampImg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: auto;
}

.champListOneChampBG {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000000af;
  z-index: 2;
  color: #afaeae;
  justify-content: center;
  align-items: center;
  word-break: keep-all;
  text-align: center;
}

.myturn .champListOneChampDiv:hover .champListOneChampBG {
  display: flex;
}

.usedChamp {
  cursor: default !important;
  font-size: 0;
}

.usedChamp .champListOneChampBG {
  display: flex;
}

.completeDiv {
  width: 100%;
  height: 15%;
  background: lightgray;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.teamText {
  font-size: 3rem;
  font-weight: 900;
}

.teamTextBlue {
  color: blue;
}

.teamTextRed {
  color: red;
}

.completeImgWrapper {
  width: auto;
  height: 85%;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 3rem;
  margin-left: 3rem;
}

.completeImg {
  height: 100%;
  transform: scale(1.2);
}

.completeBtn {
  height: 50%;
  background: gray;
  color: white;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1rem;
}

.buttonOn {
  background: orange;
  color: black;
  cursor: pointer;
}

.completeBtnText {
  font-size: 2rem;
  font-weight: 900;
}
