.inner {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.timesDiv {
  justify-content: space-between;
  width: 100%;
  margin-top: 5rem;
}

.timeOne {
  width: 30%;
}

.timeOneInput {
  width: 100%;
  height: 6rem;
}

.namesDiv {
  width: 100%;
  margin-top: 5rem;
  justify-content: space-between;
}

.oneTeamDiv {
  flex-direction: column;
  row-gap: 1.7rem;
  width: 45%;
}

.nameInput {
  width: 100%;
  height: 6rem;
}

.nameInput input:focus {
  border-color: orange;
}

.teamBlue input {
  border-color: skyblue;
}

.teamRed input {
  border-color: crimson;
}

.makeButton {
  margin-top: 5rem;
  width: 50%;
  height: 6rem;
}
